<footer class="piepagina">
    <div class="container">
        <div class="row">
            <div class="col" align="center">
                <img   src="../../assets/phone.svg" style="height: 35px;">
                <h2>Teléfono</h2>
                <p>81-5350-2210</p>
            </div>
            <div  class="col" align="center">
             <img src="../../assets/mail.svg" style="height: 35px;">
             <h2>Email</h2>
              <p>contacto@umplugged.com.mx</p>

            </div>
        </div>
    </div>
</footer>
<footer class="piepagina2">
<div class="container">
<div class="row">
  <div   class="col" align="center">
   <p>UNPLUGGED 2021 - Todos los derechos reservados</p>
  </div>
  <div   class="col" align="center">
    <a href="#">Aviso de privacidad</a>

  </div>
</div>
</div>
</footer>

