  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="http://localhost:4200/busqueda" class="navbar-brand"><img src="../../assets/Universidad-Tecnológica-de-Aguascalientes.png" width="200px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="color: white; font-weight: bold;" >Bienvenido   </a>
        </li>
        <li class="nav-item active">
          <a style="color: white; font-weight: bold;"> {{username}}</a>
        </li>
        
      </ul>
      <div class="navbar-text" >
        <a href=""><span class="badge badge-warning p-3 mx-3">{{cant }} Carrito <i class="fas fa-shopping-cart"></i></span></a>
      </div>
      <div class="navbar-text" *ngIf="!check">
        <a href="#" (click)="goto($event)" ><span class="iniciar">Iniciar sesión</span></a>
      </div>
      <div class="navbar-text" *ngIf="check" >
        <a href="#" (click)="out($event)" ><span class="cerrar">Cerrar sesión</span></a>
      </div>
    </div>

  </nav>