<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="http://localhost:4200/registro"><img src="../../assets/Universidad-Tecnológica-de-Aguascalientes.png" style="height: 60px; position: relative;left: 5%;" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      
      <form class="form-inline my-2 my-lg-0 buscar" style="position: relative;left: 35%;">
        <input class="form-control mr-lg-2" type="search" placeholder="Buscar">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <div style="position: relative;left: 55%;" >
        <button type="button" class="btn btn-light" (click)="goto()">INICIAR SESIÓN</button>
      </div>
      <div  style="position: relative;left: 60%;">
          <img src="../../assets/shopping-cart.svg" type="button" >
      </div>
    </div>
  </nav>
