.piepagina{
    background-color: black;
    padding: 3px;
    color: white;
    position: sticky;
    height: 300px;
    padding: 100px;
  }
  .piepagina2{
    background-color: gray;
    color: white;
    height: 50px;
    padding: 10px;
  }