<div *ngFor="let a of [product]">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{ a.short_description}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="100px" >
                <mat-grid-tile [rowspan]="2">
                    <img src="{{ a.images_small }}" width="200px" height="200px">
                </mat-grid-tile>
                <mat-grid-tile>
                    {{a.long_description}}
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="price">
                        {{a.price | currency: 'USD' | lowercase}}
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>