<div *ngFor="let a of [product]">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{ a.short_description}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ a.images_small }}" class="img-fluid">
                    </div>
                    <div class="col-sm-8">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12">
                                    {{a.long_description}}
                                </div>
                                <div class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bolder; font-size: 15px;">
                                    {{a.price | currency: 'USD' | lowercase}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>