<app-header ></app-header>
<div class="container text-center py-5" >
    <h1>¡Gracias por su compra!</h1>
    <p>En breve enviaremos un correo 
    con los detalles de tu compra e instrucciones para la activación de tus productos y/o servicios.
    </p>
    <br>
    <p>Fecha y hora de pago: <strong>{{fecha}}</strong></p>
    <p>No. del pedido: <strong>{{pedido}}</strong></p>
    <p>Monto del pago: <strong>$ {{precio}}</strong></p>
</div>
<div style="display: flex;justify-content: space-between; width: 300px;" class="text-center container pb-5">
    <a href="http://localhost:4200/orders">Ver mis pedidos</a>
    <a href="http://localhost:4200/busqueda">Seguir comprando</a>
</div>
